body {
    padding-top: 60px;
}

/* Neelabh's Additions - Start */
.cover {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.50;
    background: black;
    z-index: 1050;
    display: none;
}

.loader {
    background: url('../img/loading.gif') no-repeat;
    position: absolute;
    z-index: 9999;
    height: 200px;
    width: 200px;
    transform: translate(-12%, -12%);
    left: 50%;
    top: 50%;
}

.notification_outer {
    left: -3px;
    top: 60px;
    width: 100%;
    text-align: center;
    z-index: 1060;
    position: fixed;
}

.notification_success {
    border-radius: 8px;
    max-width: 250px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #9CCC65;
    box-shadow: 5px 5px 2px #888888;
    opacity: 0.95;
    word-wrap: break-word;
}

.notification_failure {
    color: #fff;
    border-radius: 8px;
    max-width: 250px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ef5350;
    box-shadow: 5px 5px 2px #888888;
    opacity: 0.95;
    word-wrap: break-word;
}

.info {
    color: #b71c1c;
}

#stickyBtnAddRoom {
	position: fixed;
	/* display: block; */
	bottom: 20px;
	right: 25px;
}

/* Neelabh's Additions - End */

/* Veronica's Additions - Start */
#index {
    background-image: url("../img/homepage.jpg");
    background-size: cover;  
    padding-top: 0;
}

#search-section {
    position: relative;
    height: 100vh;
}

#index-searchbar {
    width: 700px;
    height: 70px;
    padding: 10px;
  
    position: absolute;
    top: 50%;
    left: 50%;

    /*background: white;*/
  
    margin: -40px 0 0 -370px;

}

.searchbar {
    text-align: center;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
}

.sidebar {
    padding: 15px;
    border: 1px solid silver;
    border-radius: 10px;
    width: 23vw;
}

.sidebar label {
    font-weight: normal;
}

.sidebar p {
    margin-top: 15px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
}

.form-inline {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: 0 auto;
}

.room {
    position: relative;
    width: 100%;
    min-width: 330px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 10px;
}

.room img {
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 20px;
}

.room h3 {
    margin-top: 0;
}

.room ul {
    list-style-type: none;
}

.room i {
    margin-right: 10px;
}

.room .favbtn {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    right: 0;
}

.affix {
    top: 60px;
}

.input-small-num {
    width: 60px;
    display: inline-block;
}

.book-form {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    float: right;
    max-width: 130px;
}

.book-form button,
.book-form input {
    width: 100%;
}

/* Veronica's Additions - End */

/* Abhishek Addition - Start */
    .header {
        width: 100%;
        text-align: center;
    }

    .details {
        float: left;
        margin-top: 2%;
        margin-left: 6%;
        padding: 8px;
        width: 50%;
        color: grey;
        text-align: center;
    }

    .bookings {
        float: left;
        margin: 1%;
        margin-top: 2%;
        margin-left: 1%;
        padding: 8px;
        width: 35%;
        border: 1px solid grey;
        color: black;
        text-align: center;
    }

    .rates {
        border-bottom: 1px solid grey;
    }

    .b :link {
        color: blue;
        text-decoration: none;
    }

    .b :hover {
        background-color: blue;
    }

    /* CSS for Credit Card Payment form */

    .credit-card-box .panel-title {
        display: inline;
        font-weight: bold;
    }

    .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }

    .credit-card-box label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .row{
        margin-top: 25px;
    }

    .credit-card-box .payment-errors {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .credit-card-box label {
        display: block;
    }


    /* The old "center div vertically" hack */

    .credit-card-box .display-table {
        display: table;
    }

    .credit-card-box .display-tr {
        display: table-row;
    }

    .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }


    /* Just looks nicer */

    .credit-card-box .panel-heading img {
        min-width: 180px;
    }


/* Abhishek Addition - End */
